@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    /* Colors */
    --primary-color: #F1F6F9;
    --secondary-color: #394867;
    --tertiary-color: #212A3E;
    --quaternary-color: #9BA4B5;

    /* background color */
    --primary-background: #111;
    --secondary-background: #fff;

    /* font color */
    --primary-font-color: #111;
    --secondary-font-color: #fff;

    /* Font Family */
    --primary-font: 'Tilt Neon', cursive;
    --secondary-font: 'Caveat Brush', cursive;
}


body,
html {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

embed,
iframe,
img,
object {
    max-width: 100%;
}


::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background:var(--primary-color); 
} 
::-webkit-scrollbar-thumb {
    background: var(--tertiary-color); 
} 